<div class="container">
    <h2>Post a question</h2>
    <form > <!--data-bind="submit: addQuestion"-->
        <div class="form-group">
            <label for="id">User id:</label>
            <input type="number" class="form-control" id="id" placeholder="666" name="uid" value="666">
        </div>
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" class="form-control" id="title" placeholder="Enter title" name="title">
        </div>
        <div class="form-group">
            <label for="body">Question:</label>
            <input type="text" class="form-control" id="body" placeholder="Write your question here" name="body">
        </div>
        <button type="submit" data-bind="click: addQuestion" class="btn btn-default">Submit</button>
    </form>
</div>