<div>
    <button data-bind="click: home">Back</button>
</div>

<div data-bind="with: currentUser">
    <h2> Details about the user</h2>

    <p>User Name: <span data-bind="text: username"></span> </p>
    <p>User Id: <span data-bind="text: userid"></span> </p>
    <p>User Age: <span data-bind="text: userage"></span> </p>
    <p>User Location: <span data-bind="text: useradress"></span> </p>



    <ul class="list-group" data-bind="foreach: linkpp">

        <!--<li class="list-group-item"> Null</li>
        <ko data-bind="if: title">
        <li><span data-bind="text: title"></span></li>
        </ko>
        <li class="list-group-item" data-bind="text: url"> </li>-->

   
        <li class="list-group-item">

            Title of the Posts:
            <p data-bind="if: title"> 
                
                <span data-bind="text: title"></span>
            </p>

            <br />
             TypeId:
            <p>
                <span data-bind="text: typeId"></span>
            </p>
            <br />
            The Body of the Post:
            <p>
                
                <span data-bind="html: body"></span>
            </p>
            <br />
            <!--<p>
                Posted by the user:
                <a href="#" data-bind="click: $parent.showPost">
                    <span data-bind="text: url"></span>

                </a>
            </p>-->

        </li>

    </ul>
</div>




<!--<div data-bind="foreach: answer">
    <div data-bind="component: {name: 'answer', params: { body}}"></div>
    <!--<answer params="body: body, title: $parent.title, currentView: $parent.currentView"></answer>
    <!--<div data-bind="html: body"></div>
    <hr/>
    <div>
        <button data-bind="click: $parents[1].home">Back</button>
    </div>-->
