<div class="row" style="background-color: cornsilk;">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <h2 data-bind="text: title"></h2>
       
        <ul class="list-group" data-bind="foreach: users">
           
            <li class="list-group-item">
                <!--<span  data-bind="text: name"></span>-->
                <a href="#" data-bind="click: $parent.showPost"><span data-bind="text: name"></span></a>
            </li>
        </ul>

        <div class="btn-group">
            <button data-bind="click: prev, enable: canPrev">Prev</button>
            <button data-bind="click: next, enable: canNext">Next</button>
        </div>
    </div>

</div>

